@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #9747ff;
  --color-primary-dark: #34117e;
  --color-primary-light: #ccc;

  --font-sans: var(--font-plus-jakarta-sans);
  --font-heading: var(--font-funnel-display);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-sans);
}
